@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center full-height justify-content-center">
  <div class="text-center">
    <a asp-controller="AddressBookEntries" asp-action="Index"><i class="fas fa-fw fa-address-book display-1 text-light"></i></a>
  </div>
</div>
